.git
.gitignore
.env*
log
tmp
spec
test
coverage
node_modules
vendor/bundle
storage
public/uploads
*.swp
*.tmp
Dockerfile*
docker-compose.yml
README.md
docs
doc
.bundle
.yardoc
yardoc
tmp/cache
tmp/pids
tmp/sockets
dist
ext4fuse
video_test
dump.rdb
*.iml
.idea
.vscode
yarn.lock
package-lock.json



