{
    email cguess@gmail.com
}

# Media Vault site
vault.factcheckinsights.org {
    reverse_proxy web:3000
}

# Media Vault site
www.factcheckinsights.org {
    reverse_proxy web:3000
}

# Fact Check Insights site
factcheckinsights.org {
    reverse_proxy web:3000
}

# Public link site (for sharing media)
mvau.lt {
    reverse_proxy web:3000
}

# Also support localhost access for all sites
http://localhost {
    reverse_proxy web:3000
}
