# Copy to .env and fill in values

# Rails
SECRET_KEY_BASE=f351e1689b5826415b882f1dd441c12eed7b430a16495c7109875aa59fdd2986ecad3e5269f983c28f6e3ed6bd4f88e4c002ecf652837ba44d1994266ab32097
RAILS_ENV=production
RACK_ENV=production
ON_DOCKER=yes

# Hosts (used for config.hosts and healthcheck Host header)
FACT_CHECK_INSIGHTS_HOST=vault.factcheckinsights.org
MEDIA_VAULT_HOST=vault.factcheckinsights.org
PUBLIC_LINK_HOST=vault.factcheckinsights.org

# Shrine / S3
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
# For GCP S3-compatible API (e.g., https://storage.googleapis.com or https://storage.googleapis.com/storage/v1)
S3_ENDPOINT=
CLOUDFRONT_HOST=

# Optional
MALLOC_ARENA_MAX=2

# ImageMagick
VIPS_WARNING=0

HONEYBADGER_API_KEY=

# ReCAPTCHA
RECAPTCHA_SITE_KEY=sitekey
RECAPTCHA_PROJECT_ID=projectid
GOOGLE_APPLICATION_CREDENTIALS=credentials.json