<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<p>The post you requested below has unfortunately been removed before we could archive it.</p>
		<div>
			<h5>URL Requested;</h5>
			<%= @url %>
		</div>

		<p>If you can still see the post online at its original URL, please email us at <a href="mailto:contact@mail.factcheckinsights.org">contact@mail.factcheckinsights.org</a> to report this error. Please include the URL and the ID #<%= @scrape_id %> in your email and we will look into the problem as soon as possible.</p>

		<div>
			<%= link_to 'View your MyVault', "https://#{Figaro.env.MEDIA_VAULT_HOST}/myvault", class: 'button' %>
		</div>

		<p>MediaVault powered by <a href="https://fullfact.org">Full Fact</a> and <a href="https://fundacionmaldita.es/en/">Fundación Maldita.es</a></p>
		<hr>
		<p><a href="https://vault.factcheckinsights.org/terms">Read the terms and conditions of the platform</a></p>
		<p><a href="https://vault.factcheckinsights.org/privacy">Learn about the privacy policy</a></p>
	</body>
</html>
