<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<p>Your request for access to <%= @site[:title] %> has been approved!</p>
		<p>To complete your account setup, you’ll need to choose a password.</p>
		<p><%= link_to "Click here to finish setting up your account", new_account_url(token: @token, host: @site[:host]) %>, or visit this URL in your browser:</p>
		<pre><%= new_account_url(token: @token, host: @site[:host]) %></pre>
		<p>MediaVault powered by <a href="https://fullfact.org">Full Fact</a> and <a href="https://fundacionmaldita.es/en/">Fundación Maldita.es</a></p>
		<hr>
		<p><a href="https://vault.factcheckinsights.org/terms">Read the terms and conditions of the platform</a></p>
		<p><a href="https://vault.factcheckinsights.org/privacy">Learn about the privacy policy</a></p>
	</body>
</html>
