<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>We're contacting you to notify you that your email is being changed to <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>We're contacting you to notify you that your email has been changed to <%= @resource.email %>.</p>
<% end %>
<hr>
<p><a href="https://vault.factcheckinsights.org/terms">Read the terms and conditions of the platform</a></p>
<p><a href="https://vault.factcheckinsights.org/privacy">Learn about the privacy policy</a></p>
